@model innovation4austria.web.Models.BookingModel

@{
    ViewBag.Title = "Room";
}
<div class="container">
    <h2>Buchung</h2>
    <hr />
@using (Html.BeginForm("RoomBooking", "Booking", FormMethod.Post))
{
    <table class="table" id="result">
        <tr>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    <label>Firma</label>
                    @Html.DropDownList("company_id", new SelectList(Model.Companies, "ID", "CompanyName"))
                </th>
            }
            <th>
                <label>Raum</label>
                <input type="hidden" value="@Model.Room_id" name="room_id" />
            </th>
            <th>
                <label>Start Datum</label>
                <input type="hidden" value="@Model.StartDate" name="startdate" />
            </th>
            <th>
                <label>End Datum</label>
                <input type="hidden" value="@Model.EndDate" name="enddate" />
            </th>
            <th>
                <label>Anzahl der Tage</label>
            </th>
            <th>
                <label>Preis pro Tag</label>
            </th>
            <th>
                <label>Gesamtpreis</label>
            </th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.RoomDescription)</td>
            <td>@Model.StartDate.ToShortDateString()</td>
            <td>@Model.EndDate.ToShortDateString()</td>
            <td>@Html.DisplayFor(model => model.DateDif)</td>
            <td>@Html.DisplayFor(model => model.RoomPrice) &euro;</td>
            <td>@Html.DisplayFor(model => model.EndPrice) &euro;</td>
        </tr>

            
        
    </table>
    <input type="submit" value="Jetzt Buchen" />
    <input type="submit" value="Abbrechen" />
}
</div>