<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Template Name: Photomatic
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
@Styles.Render("~/Content/css")
</head>
<body id="top">
    <div class="wrapper col1">
        <div id="header">
            <div class="fl_left">
                <h1><a href="index.html">Innovation4Austria</a></h1>
            </div>
            <div id="topnav">
                <ul>
                    <li class="active"><a href="~/home/index">Home</a></li>
                    <li><a href="~/home/about">About</a></li>
                    <li><a href="~/home/services">Services</a></li>
                    <li><a href="~/home/contact">Contact</a></li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a href="~/user/login">Login</a></li>
                    }
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="~/room/index">Räume</a></li>
                        <li><a href="~/company/index">Firmen</a></li>
                        <li><a href="~/user/profile">@HttpContext.Current.User.Identity.Name</a></li>
                        <li><a href="~/user/logout">Logout</a></li>
                    }
                </ul>
            </div>
            <br class="clear" />
        </div>
    </div>
    @RenderBody()
    <div class="wrapper col5">
        <div id="footer">
            <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">Innovation4Austria</a></p>
            <br class="clear" />
        </div>
    </div>
    @RenderSection("Scripts", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>